@import '../../variables.scss';
.contenido-label {
    position: relative;
    width: 50%;
    .contenido-genero {
        display: flex;
        justify-content: space-between;
    }

    input[type="radio"] {
        position: absolute;
        width: 90%;
        height: 35px;
    }

    input[type="radio"]+label {
        border: 1px solid $border;
        background: $blanco;
        width: 90%;
        height: 35px;
        color: $negro;
    }

    input[type="radio"]:checked+label {
        background: $morado;
        color: $blanco;
    }
}
