<nav class="menu margin contenido-blanco">
    <ul>
        <li>
            <span class="circulo active">
                <i class="fa-regular fa-circle-user"></i>
            </span>
            <span>Vista general</span>
            <span> de la cuenta</span>
        </li>
        <li>
            <span class="circulo">
                <i class="fa-solid fa-pencil"></i>
                <span class="punto"></span>
            </span>
            <span>Editar</span>
            <span>perfil</span>
        </li>
        <li>
            <span class="circulo">
                <i class="fa-solid fa-lock"></i>
                <span class="punto"></span>
            </span>
            <span>Cambio de</span>
            <span>contraseña</span>
        </li>
        <li>
            <span class="circulo">
                <i class="fa-regular fa-bell"></i>
                <span class="punto"></span>
            </span>
            <span>Configuración de</span>
            <span>notificaciones</span>
        </li>
    </ul>
</nav>