/* You can add global styles to this file, and also import other style files */
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/* ========== ResetCSS ========== */
*,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
tr,
select,
input {
    appearance: inherit;
    -moz-appearance: inherit;
    -webkit-appearance: inherit;
    background: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background: $gris2;
    font-size: 14px;
    font-family: normal normal bold 14px/24px DIN 2014;
    h2, h3 {
        font-size: 20px;
        font-weight: 300;
        color: $morado;
        margin-bottom: 15px;
    }
    h3{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .texto-morado-bold {
        color: $morado;
        font-weight: bold;
    }
    .texto-negro {
        color: $negro;
        font-weight: 300;
    }
    .margin {
        margin-top: 20px;
    }
    .contenido-blanco {
        background: $blanco;
        border-radius: 8px;
        padding: 20px 15px;
        box-sizing: border-box;
        box-shadow: 2px 2px 6px #00000029;
    }
    .btn-guardar{
        background: $morado;
        width: 100%;
        color: $blanco;
    }

    .infor-general {
        label {
            color: $morado;
            font-weight: bold;
            font-size: 14px;
        }
    
        .margin-top {
            margin-top: 20px;
        }
    
        .contenido-genero {
            display: flex;
            justify-content: space-between;
    
            
    
    
        }
    }
}